@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');

#footer { background: none }
#uimid { display: none!important }

/* BODY */

body { cursor: default;
color: #999;
    font-family: georgia;
    font-size: 11px;
background-image: url('https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg'); background-color: #000; background-attachment: fixed; background-size: cover; background-position: 50% 50% }


/* NOT SURE THIS MATTERS ANYMORE

th.pt-1.pb-1::after, .table.mt-3 th.top::after {
	color: red;
	position: absolute;
	right: 3%;
} */

/* DEN BOXES */

.box {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 15px;
	margin: 0 2% 30px;
	border-radius: 10px;
	float: left;
	width: 46%;
	height: 145px;
	overflow: auto;
}

/* WHOLE PAGE */

* {
	font-family: 'Questrial';
}

body {
		background-image: url("https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg");
		background-position: center;
}

a {
	color: rgba(56, 81, 81, 1);
	font-weight: bold;
}

a:hover {
	color: rgba(32, 52, 52, 1);
}

/* MAIN NAVBAR */

#header .navbar-main, #footer {
	background-color: rgba(32, 52, 52, 0.8);
}

#header .navbar-main .nav-link, #header .navbar-main .nav-link .fa {
	color: rgba(255, 255, 255, 1);
}

#header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa, #footer a:hover, #footer nav .nav-item .nav-link:hover {
	color: rgba(240, 229, 233, 1);
}

/* STATUS NAVBAR */

#header .navbar-status {
	background-color: rgba(109, 128, 153, 0.8);
	padding-top: 21px;
	padding-bottom: 21px;
}

#header .navbar-status a:hover {
	color: rgba(240, 229, 233, 1);
}

#header .text-dark {
	color: rgba(56, 81, 81, 1);
}

/* BREADCRUMB NAVBAR */

#header .breadcrumb-nav {
	background-color: rgba(255, 255, 255, 0.4);
}

.breadcrumb-item.active {
	color: rgba(56, 81, 81, 1);
}

/* MAIN CONTAINER ON THE RIGHT */

#main {
	background-color: rgba(255, 255, 255, 0.4);
}

.nav-tabs, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link, .nav-tabs .nav-link:hover {
	border: transparent;
}

.nav-tabs .nav-link.active {
	background-color: rgba(40, 64, 82, 0.7);
	color: rgba(255, 255, 255, 1);
	border-radius: 10px;
}

.nav-tabs .nav-link {
	background-color: rgba(194, 201, 214, 0.7);
	margin-right: 0.5rem;
	border-radius: 10px;
}

#main .card {
	background: rgba(194, 201, 214, 0.8);
	border-radius: 10px;
}

.card-header {
	border: none;
}

img, .form-control, .note-btn {
	border-radius: 10px;
}

.card-img-top, .pt-1.pb-1, .table .top, .note-editor.note-frame .note-editing-area .note-editable {
	border-radius: 10px 10px 0px 0px;
}

/* TABLES */

.table {
	background-color: rgba(255,255,255,0.8);
	border: none;
	border-radius: 10px;
}

.table th {
	background-color: rgba(109, 128, 153, 0.8);
}

.table th a {
	color: rgba(240, 229, 233, 1);
}

.table th a:hover {
	color: rgba(255, 255, 255, 1);
}

.table .subheader {
	background-color: rgba(194, 201, 214, 0.7);
}

.table .left {
	background-color: rgba(255, 255, 255, 0.5);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: transparent;
}

.table tr.pup, .table tr.pup:nth-of-type(odd) {
	background-color: rgba(32, 52, 52, 0.1);
}

.table td.bottom {
	background-color: rgba(220, 210, 214, 0.6);
	border-radius: 0px 0px 10px 10px;
}

.form-control, .s-chat-sidebar #label_currentChannel, .note-toolbar .note-btn {
	background-color: rgba(255, 255, 255, 0.7);
}

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
	background-color: rgba(255, 255, 255, 0.7);
}

.note-toolbar {
	background: none;
}

/* SIDEBAR */

#sidebar {
	background-color: rgba(255, 255, 255, 0.4);
}

#sidebar .multi-column {
	padding-top: 15px;
}

#sidebar .card {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 6px solid rgba(109, 128, 153, 0.8);
	border-radius: 10px;
}

.progress {
	background: rgba(255, 255, 255, 0.8) !important;
}

	/* energy, pup survival chance */
.bg-warning, #main .bg-success  {
	background-color: rgba(194, 201, 214, 1) !important;
}

	/* lead wolf hunger, mood */
#sidebar .bg-danger, .bg-primary {
	background-color: rgba(109, 128, 153, 1) !important;
}

	/* lead wolf HP, other wolves' hunger */
#sidebar .bg-info, #main .bg-danger {
	background-color: rgba(56, 81, 81, 1) !important;
}

	/* lead wolf EXP, other wolves' HP */
#sidebar .bg-success, #main .bg-info {
	background-color: rgba(32, 52, 52, 1) !important;
}

#chatMessagePinned.s-chat-message__pinned {
	background-color: rgba(220, 210, 214, 0.7);
	padding: 5px;
}

.s-chat-sidebar #chatMessageList {
	height: 380px;
}

.s-chat-message:nth-child(odd) {
	background: rgba(255, 255, 255, 0.5);
}

.s-chat-message:nth-child(even) {
	background: rgba(32, 52, 52, 0.1);
}

/* BUTTONS */

	/* update & save changes */
.btn-primary, .btn-success {
	background-color: rgba(109, 128, 153, 0.8);
	border: none;
	font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-success:hover, .btn-success:focus {
	background-color: rgba(109, 128, 153, 1) !important;
	box-shadow: none !important;
}

	/* expand territory */
.btn-warning {
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}

.btn-warning:hover, .btn-warning:focus {
	background-color: rgba(255, 255, 255, 0.9) !important;
	box-shadow: none !important;
}

	/* report a bug */
.btn-danger {
	background-color: rgba(200, 79, 75, 0.8);
	border: none;
}

.btn-danger:hover {
	background-color: rgba(200, 79, 75, 1) !important;
	box-shadow: none !important;
}

/* OTHER */

.alert-info, .alert-success {
	background-color: rgba(194, 201, 214, 0.7);
	color: rgba(56, 81, 81, 1);
	border: none;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgba(194, 201, 214, 1);
  border-radius: 10px;
}

.tooltip-inner {
	background-color: rgba(109, 128, 153, 1);
	border-radius: 10px;
}
