@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');


/* for ð–œð–†ð–—ð–Œ with love,
          - á“šá˜á—¢ */

#footer { background: none }
#sidebar, .nav-tabs, .navbar-status, .breadcrumb-nav { display: none }

body { cursor: default;
color: #999;
    font-family: georgia;
    font-size: 11px;
background-image: url('https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg'); background-color: #000; background-attachment: fixed; background-size: cover; background-position: 50% 50% }

a, .table th a, .alert-info .alert-link, .alert-success .alert-link { color: #fff; transition: .5s }
a:hover, #footer nav .nav-item .nav-link:hover, #header .navbar-main .active .nav-link, #header .navbar-main .active .nav-link .fa, #header .navbar-main .nav-link:hover, #header .navbar-main .nav-link:hover .fa { text-decoration: line-through; color: #fff }

@media (min-width: 1200px) {
#header .navbar-main .nav-link { font-size: 9px; letter-spacing: 1px; margin-right: 15px }
#header .navbar-main { min-height: 115px; background: none } }
.nav-item i { vertical-align: middle; display: inline }
#header .navbar-main .nav-link .fa { color: inherit }

.pt-1.pb-1, .featured-wolf b { line-height: 1; font-size: 0!important } .pt-1.pb-1 a { font-size: 40px!important }
th.pt-1.pb-1::before { content: "Lich "; font-size: 40px!important }
.featured-wolf { font-size: 0!important }
.featured-wolf b::before { content: "dead doesn't mean gone"; font-size: .875rem!important; font-style: italic }

#main { flex: 1; max-width: 100%; background: none; margin-bottom: -1px }
.container>.row { display: block!important }

img { filter: grayscale(1); }
a img { filter:grayscale(1); transition: 1s }
.card a:hover img, .featured-wolf a:hover img, a img:hover { filter: grayscale(0)!important }

#footer {     font-size: 80%;
    padding-top: 20px; }

#main {
  background: #000000c4;
  padding: 60px;
  border: 1px solid #eee3 }


.card.mb-3, .featured-wolf img {
    border: 1px solid #eee3;
 }

.table th, #main .card, .card.text-center { background: #161616 }
.table-striped tbody tr:nth-of-type(odd), .form-control { background-color: transparent }

td.left.b { vertical-align: middle }


.table .subheader { background: #000 }
/* .table-striped td.text-right img, .mr-2, .mx-2 { background: #eee3; padding: 5px; border-radius: 20px } */
.table-striped td.text-right img, .mr-2, .mx-2 { width: 10px }
br, #footer { display: none }

#summernote-form, .alert {
    background: none;
    border: 0;
    border-bottom: 1px solid #eee3;
    color: inherit;
    padding: 0 5px 5px;
}

.user-tag, .float-left.mr-2 { border: 1px solid #eee3 }

td.left { background: #000!important; font-size: 80%; font-weight: 100; text-align: right; letter-spacing: 1px; text-transform: uppercase }

#header .navbar-main { background: none!important }

td.row { margin: 0!important }


tr { border-top: 1px solid #222 }

td.right.text-right { text-align: center!important; vertical-align: middle!important; border-left: 1px solid #222 }

.form-row .card, td.right.text-right, .pb-1, .py-1 {
    background-image: url(https://images2.imgbox.com/7a/41/mvmBEhMr_o.jpg)!important;
    background-size: cover!important; background-position: 50% 50%!important;
    background-color: #b32b2b;
    background-blend-mode: darken;
}

.form-row .card, .pb-1, .py-1 { background-attachment: fixed!important }
.form-row .card { border: 1px solid #1d1d1d!important }

.pb-1, .py-1 { padding: 20px!important }

.form-row .card-header b { text-transform: uppercase; letter-spacing: 1px; font-size: 80%; padding: 20px; font-weight: 100 }
.form-row .card-img-top { display: none }
.card-header { padding: 30px }

.card.text-center { border: 0!important; background: none!important }

.subheader { display: none }


h3.mb-0 { padding: 10px; text-align: right; font-style: italic; background: #eee1; font-size: 2rem }

h1 { font-size: 400% }


.text-danger { color: inherit!important }

.form-control { border: 0; color: #fff!important }
.btn-success, .btn-warning { border-bottom-color: #eee3; color: #fff!important; background-color: #3d2424; color: #fff }
.btn-success:hover, .btn-warning:hover { background: #856c6c; border-bottom-color: #eee3; }

.progress { height: 6px!important; background: #ddd0!important; outline: 1px solid #eee3; margin: 2px; outline-offset: -1px }

.bg-warning, .bg-primary, .bg-danger, .bg-info, .bg-success { background-color: #eee3!important }

select { background: #000 }

table.table.table-striped td { vertical-align: middle; }


form#summernote-form { background: #000; padding: 20px; border: 1px solid #222 }

th.top {
    padding: 20px 25px;
    background: #ffffff0f;
    font-size: 35px;
    font-family: 'East Sea Dokdo', cursive;
    line-height: 1;
    color: #ffffff24;
    text-shadow: 0 0 10px #000000c7;
    text-transform: lowercase;
}

.note-popover .popover-content, .note-toolbar { padding: 0 0 5px }
h1, h2, h3, h4, h5, h6, th.pt-1.pb-1 { font-family: 'East Sea Dokdo', cursive; }

.small, small { font-size: 9px; text-transform: uppercase; letter-spacing: 1px }

th, .table a, #footer nav .nav-item .nav-link { font-weight: 100 }

td.b { text-align: right; font-weight: 100; text-transform: uppercase; font-weight: bold; font-size: 9px; letter-spacing: 1px }

.form-control, .btn { font-size: inherit!important }
.table .bottom, .table tfoot td { color: inherit; background: #111!important }
td { background: #000 }
.note-editor { filter: invert(1) }
#footer ul, select { background: none!important }
div.col-xl-6.col-sm-12.order-xl-9.order-12, .featured-wolf, .col-xl-3.col-sm-7.text-center { align-self: center }
select option { background: #000!important; color: inherit!important }

.table-striped td.text-right img { margin: 0 5px }

h3.mb-0 i { vertical-align: middle; display: inline; font-size: 50%; margin-right: 10px; filter: opacity(.2) }
img.float-left.mr-2 { background: none; border-radius: 0; padding: 0; }
.navbar-nav { padding-top: 0 }
h1 {
    color: #ffffff2e;
    text-align: center;
    font-size: 80px;
    margin: 0!important;
    line-height: 1;
}


a img.border-bottom, img.rounded-bottom { border: 1px solid #333!important; box-sizing: border-box; display: block }
td.b { width: 35% }
.p-0 {
    padding: 1em!important;
    min-width: 9em;
}
.bg-light, .btn-light {
    background: #0f0f0f!important;
    color: inherit;
}
.card.bg-transparent.mb-0 { height: auto!important }
.bg-dark, .bg-light {
    background-color: transparent!important;
}




@media (min-width: 768px) {
.form-row .col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
} }



form .table.table-striped tbody tr td div>div a:before { content: "á›‰"; color: #999; margin: 0 5px; width: 10px; display: inline-block; font-size: 100%;  }




#main>h1 { display: none }
.cross { width: 50px; height: 50px; position: relative; filter: brightness(.4) }
.cross img { position: absolute; width: 100%; top: 0; left: 0 }
.marrow { transform: scaleX(-1); }
.bones { display: flex; align-items: center; margin: -2em -1em }
.bones>div { margin: 1em }
.mb-3, .my-3 { margin: 0!important }
